.Background {
background-color: black;
}
body {
    background-color: rgb(95,95,95,1);;
}
.MainContainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}
.Tabs {
    background-color: rgb(95,95,95,1);
    padding: 10px;
    flex: 100%;
    border-radius: 5%;
}