.Background {
background-color: black;
}
body {
    background-color: rgb(40, 40, 40);;
}
.MainContainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}
.Tabs {
    background-color: rgba(60, 60, 60);
    padding: 10px;
    flex: 100%;
    margin: 3px;
    overflow: hidden;
    text-wrap: nowrap;
    border-radius: 8px;
    color: white;
    font-size: x-large;

}
.white{
    color: white;
}